--index-url https://repo.huaweicloud.com/repository/pypi/simple
--trusted-host repo.huaweicloud.com
requests
httpx
scrapy
aiohttp
pyquery
beautifulsoup4
selenium
pyppeteer

numpy
pandas
scipy

flask
django
djangorestframework
tornado
fastapi
uvloop
uvicorn

autopep8
pylint
pydantic

loguru
arq
aioredis
motor
sqlalchemy
aiomysql
alembic

